*{
    padding: 0px;
    margin: 0px;
    font-family: 'Playfair Display', sans-serif;
}



/*HEADER*/

header{
    background-color: #320081;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-inline: 20px;
    
}

.logo{
    width: 60px;
    height: 60px;
    padding-right: 30px;
}

ul li{
    padding: 10px;
    display: inline;
        
}

.header_link{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    font-family: sans-serif;

}

#toggle{
    display: none;
}

#label_toggle{
    font-size: 35px;
    color: #ffee8b;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

/*-----*/



/*MAIN*/

main{
    background-image: url("../imagenes/galaxeas_de_fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 100px;
    transition: all 0.5s ease;
}


h1{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px;
    font-size:60px;
    font-family: 'Roboto', sans-serif;

}

.indiceYtexto{
    display: flex;
    width: 90%;
}

.indice_lateral{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
}

.sub_indice_link{
    display: none;
    flex-direction: column;
}

.caja-indice{
    background-color: #f5f5f5de;
    width: 250px;
    height: 540px;
    padding: 1%;
    margin-right: 40px;
    position: sticky;
    top: 30px;
    overflow-y: scroll
}

nav li a:hover{
    color: #ff00ea;
}

nav li:hover > ul{
    display: flex;
    flex-direction: column;
}

.contenedor_indiceTexto{
    display: flex;
    justify-content: center;
}


.CajaDeTexto{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 70%;
    
}

.CajaDeTexto-2{
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
    
}

.pag{
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.ilustracion{
    width: 90%;
    height: auto;
    margin: 20px;
}




/*-----*/



/*MODO DARK*/

.dark{
    background-color: #1f1f1f;
    color: whitesmoke;
    transition: all 0.5s ease;
    
}

.dark_header{
    background-color: #11002c;
}

.dark_main{
    background-image: url("../imagenes/galaxeas_de_fondo_dark.jpg");
}

/*-----*/




/*FOOTER*/

footer{
    background-color: #6000b9;
    color: wheat;
    padding: 5px;
    text-align: center;
}
 
/*-----*/


/*MODO DARK*/

.dark{
    background-color: #1f1f1f;
    color: whitesmoke;
    transition: all 0.5s ease;
}

.dark_header{
    background-color: #11002c;
}

.dark_main{
    background-image: url("../imagenes/galaxeas_de_fondo_dark.jpg");
}

.dark_footer{
    background-color: #2a0035;
}

.dark_link{
    color: violet;
}
/*-----*/




/* MENU DESPLEGABLE*/

#abrir-menu, #cerrar-menu{
    display: none;
    top:70px;

}

/*-----*/

@media (max-width:700px){

    body{
        width: 50vh;
    }

    header{
        position: fixed;
        height: 70px;
        width: 45vh;
    }

    header ul{
        display: contents;
    }

    h1{
        padding-top: 100px;
    }

    .caja-indice{
        width: 90%; 
        padding: 0px;
        top: 70px;
        opacity: 0;
        visibility: hidden;
        z-index: 10;
    }

    #abrir-menu, #cerrar-menu{
        display: flex;
        width: fit-content;
        margin: 10px;
        border: none;
        color: darkviolet;
        background-color: transparent;
        font-size: 35px;
        pointer-events: stroke;
    }

    #abrir-menu{
        position: sticky;
        overflow-y: scroll;
        top: 70px;
        z-index: 1;
    }

    #cerrar-menu{
        position: none;
    }

    .visible {
        opacity: 1;
        visibility: visible;
    }

    .indiceYtexto{      
        display: flex;
        flex-direction: column;
    }
    
    .CajaDeTexto{
        width: auto;
    }

   

}